.review-container{
    border: 1px solid lightgrey;
    padding:10px;
    margin-top: 20px;
    display: flex;
}
.review-container img{
    height:100px;
    
}
.details-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    padding:10px;
}
.item-container p{
 margin: 0px;
}
.item-title{
    margin-bottom: 0px;
}
.remove-btn{
    background: rgba(235, 87, 87, 0.3);
    border: none;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.remove-icon{
    color: #EB5757;
    font-size: 27px;
}